#cnvsContainer{
	position:absolute;
	width: 640px;
	height: 550px;	
	left: 8px;
    top: 70px;
	border:1px solid;	
	overflow:auto;
	float:left;
}
.cnvs{
	margin:0px;
	width:600px;
	height:250px;
	border:1px solid red;
	float:left;
}
#canvasView{
	display:none;
	margin-top: 10px;
}
#tracer{
	position:absolute;
	width: 640px;
	height: 550px;	
	left: 8px;
    top: 70px;
	display:none;
}
#console{
	position:absolute;
	left:650px;
	top:0px;
	border:1px solid;
	height:600px;
	width:300px;
}